@import "../bower_components/neutroncss/neutron";

@import "variables";

body {
    color:#fff;
    background-color: #000;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    max-width: 100%;
    font-family: 'Inconsolata', monospace;
}

h1 {
  font-size: 3em;
  margin:0.5em 0;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:700;
}

a, a:hover {
  color: #E8DC9A;
}

p {
  line-height: 1.5em;
}

.blinking-cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

#main-wrapper {
  background-color: rgba(0,0,0,.7);
}

#main-header, #main-footer {
  background-color: #000;
  color:#fff;
  & .container {
    @include columns(1, $margin: 15px, $flush-margin: false);
  }
}

#main-footer {
  color:#888;
  padding:30px 0;
  text-align: center;
}

section .heading {
  @include columns(1, $margin: 15px, $flush-margin: false);
  & h2 {
    font-size: 2em;
  }
  & h2 .subtitle {
    font-weight: normal;
    font-size:50%;
  }
}

.target {
  &.jinteki {
    background-color: #571209;
  }
  &.hb {
    background-color: #402B44;
  }
  &.weyland {
    background-color: #394039;
  }
  &.nbn {
    background-color: #C58930;
  }
  & .target-container {
    @include columns(1, $margin: 15px, $flush-margin: false);
    @include breakpoint(from-tablet) {
      @include columns((3,4,4), $margin: 15px, $flush-margin: false);
    }
    @include breakpoint(from-desktop) {
      @include columns((2,3,4), $margin: 15px, $flush-margin: false);
    }
  }
  & .icon {
    font-size: 10em;
    display: block;
    text-align: center;
    margin:20px 0;
  }
  & .target-icon {
    @include hide(mobile);
    @include hide(phablet);
  }
  & .agenda-grid {
    @include columns(2, $margin: 15px, $flush-margin: false);
    & .image img {
      display: block;
      max-width: 100%;
    }
  }
}

section .runners {
  @include columns(2, $margin: 15px, $flush-margin: false)
  @include breakpoint(from-tablet) {
    @include columns(4, $margin: 15px, $flush-margin: false)
  }
  @include breakpoint(from-desktop) {
    @include columns(6, $margin: 15px, $flush-margin: false)
  }
}

.runner {
  & .meta h3 {
    margin-bottom:0;
  }
  & .meta p {
    margin:0.5em 0;
  }
  & .image {
    position: relative;
  }
  & .image .dead {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    display: inline;
  }
  & .image .dead p {
    margin:0;
    position: absolute;
    left:15px;
    right:15px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  & .image .dead .console {
    padding: 0.2em;
    box-shadow: 0.2em 0 0 #000, -0.2em 0 0 #000;
    background-color: #000;
    color:#fff;
  }
  & .image img {
    display: block;
    max-width: 100%;
  }
  & .status.online {
    color:#00FF00;
  }
  & .status.offline, .killed-by.jinteki {
    color:#FF0000;
  }
  & .killed-by.haas-bioroid {
    color:#C080FF;
  }
  & .killed-by.weyland-consortium {
    color:#a5c5a5;
  }
  & .killed-by.nbn {
    color:#f9d751;
  }
}
