<footer id="main-footer">
  <div class="container">
    <p>
      Website by <a href="http://prestonstahley.com" target="_blank">@PrestonStahley</a>. Built with <a href="https://harpjs.com/" target="_blank">Harp</a>. Code on <a href="https://gitlab.com/preston/netrunner" target="_blank">GitLab</a>. Card data from <a href="https://netrunnerdb.com/" target="_blank">NetrunnerDB</a>.
    </p>
  </div>
</footer>
