<header id="main-header">
  <div class="container">
    <div>
      <h1>Runners unite<span class="blinking-cursor">_</span></h1>
      <h2>A <a href="https://www.facebook.com/groups/368461999974687/" target="_blank">Montana Netrunners</a> 8 week league event.</h2>
      <p>Here's how it works. Your corp must be part of the faction for that week, and you have to include one of the target agendas for that week. You can bring whatever runner you like. Watch out though... if your runner flatlines, then he's out for the rest of the league for everyone. Even the same night he dies. SO, i suggest everyone bring extra runners! :P</p>
      <p>Points will be similar to last time, but the Corp will get an extra point if they kill the runner. The Runner will get an extra point if they have stolen a target agenda.</p>
      <p>At the end of each 2 week corp run, the player with the most runner kills for that faction will get a holo corpcard ID of their choice. *see sparkle Agency*</p>
      <p>At the end of the league the player who has kept a single runner alive the longest (based on number of games played) will get a holocard of a runner of their choice. *again see sparkle agency*</p>
      <p>We will also be using the Spring Kit for this. Additional prizes might be added.</p>
      <p>* Only 3 games per league night.</p>
      <p>** Games only count against other league memebers.</p>
      <p>*** Please do not suicide a runner just to hurt another player.</p>
    </div>
  </div>
</header>
