<div class="runner anarch">
  <div class="image">
    <% if(status.toLowerCase() == 'offline') { %>
    <div class="dead">
      <p><span class="console">Flatlined by <strong class="killed-by <%= kill_faction %>"><span class="icon icon-<%= kill_faction %>"></span> <%= kill_card %></strong></span></p>
    </div>
    <% } %>
    <img src="img/runners/<%= card_id %>.png" alt="" />
  </div>
  <div class="meta">
    <h3><%= name %></h3>
    <p>Status: <span class="status <%= status.toLowerCase() %>"><%= status %></span></p>
  </div>
</div>
