<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Here's how it works. Your corp must be part of the faction for that week and you have to include one of the target agendas for that week. You can bring..." />
  <meta property="og:description" content="Here's how it works. Your corp must be part of the faction for that week and you have to include one of the target agendas for that week. You can bring..." />
  <meta property="og:image" content="https://preston.gitlab.io/netrunner/img/share.jpg" />
  <meta property="og:site_name" content="Montana Netrunners" />
  <meta property="og:title" content="Runners unite!" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://preston.gitlab.io/netrunner/" />

  <title>Runner's unite! | Montana Netrunners</title>
  <link rel="stylesheet" href="css/normalize.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet">
  <link href="css/netrunnerfont.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css" />
</head>

<body>

  <div id="main-wrapper">

  <%- partial("_header") %>

  <section class="target jinteki">
    <div class="target-container">
      <div class="target-icon">
        <span class="icon icon-jinteki"></span>
      </div>
      <div class="target-info">
        <h2>Target: Jinteki</h2>
        <p>Weeks 1 &amp; 2 &mdash; June 28, July 5</p>
        <p>From pharmaceuticals to cloning, Jinteki continues to impact the world dramaticaly. But there are things that Chairman Hiro guards fiercly.</p>
        <p>Target Agendas: Nisei Mk II and Dedicated Neural Net</p>
      </div>
      <div class="target-agendas">
        <div class="agenda-grid">
          <div class="image">
            <img src="img/agendas/01068.png" alt="" />
          </div>
          <div class="image">
            <img src="img/agendas/10088.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="target hb">
    <div class="target-container">
      <div class="target-icon">
        <span class="icon icon-haas-bioroid"></span>
      </div>
      <div class="target-info">
        <h2>Target: Haas Bioroid</h2>
        <p>Weeks 3 &amp; 4 &mdash; July 12, July 19</p>
        <p>Cynthia Hass would do anything to keep her secrets close at hand. Guard your brains.</p>
        <p>Target Agendas: Accelerated Beta Test and Director Haa's Pet Project</p>
      </div>
      <div class="target-agendas">
        <div class="agenda-grid">
          <div class="image">
            <img src="img/agendas/01055.png" alt="" />
          </div>
          <div class="image">
            <img src="img/agendas/03004.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="target weyland">
    <div class="target-container">
      <div class="target-icon">
        <span class="icon icon-weyland-consortium"></span>
      </div>
      <div class="target-info">
        <h2>Target: Weyland</h2>
        <p>Weeks 5 &amp; 6 &mdash; July 26, Aug 2</p>
        <p>It's hard to pin down exactly what wayland is or does, but we do know we need to fear THE BOARD.</p>
        <p>Target Agenda: Posted Bounty and The Cleaners</p>
      </div>
      <div class="target-agendas">
        <div class="agenda-grid">
          <div class="image">
            <img src="img/agendas/01095.png" alt="" />
          </div>
          <div class="image">
            <img src="img/agendas/04036.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="target nbn">
    <div class="target-container">
      <div class="target-icon">
        <span class="icon icon-nbn"></span>
      </div>
      <div class="target-info">
        <h2>Target: NBN</h2>
        <p>Weeks 7 &amp; 8 &mdash; Aug 9, Aug 16</p>
        <p>Information is power and NBN is a net that extends everywhere. Always watching and using what they gather to rule the media.</p>
        <p>Target Agenda: Breaking News and Remote Data Farm.</p>
      </div>
      <div class="target-agendas">
        <div class="agenda-grid">
          <div class="image">
            <img src="img/agendas/01082.png" alt="" />
          </div>
          <div class="image">
            <img src="img/agendas/10033.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>

    <section class="runners">

      <div class="heading">
        <div>
          <h1>Runners<span class="blinking-cursor">_</span></h1>
        </div>
      </div>

      <div class="runners">

        <% for(var i=0; i<runners.length; i++) { %>
          <%- partial("_runner", { name: runners[i].title, status: runners[i].status, card_id: runners[i].code, kill_faction: runners[i].kill_faction, kill_card: runners[i].kill_card }) %>
        <% } %>

      </div>

    </section>

    <%- partial("_footer") %>

  </div>

</body>

</html>
